.form-group
  = form.label :email, :class => 'col-xs-2 control-label'
  .col-xs-10
    = form.text_field :email, :class => 'form-control', :placeholder => 'Email address', :autofocus => ''
.form-group
  = form.label :password, :class => 'col-xs-2 control-label'
  .col-xs-10
    = form.password_field :password, :class => 'form-control', :placeholder => 'Password'