%h1 All albums
.row
  .col-xs-3
    = render 'shared/lib_nav'
  .col-xs-9
    - if current_user.albums.any?
      - current_user.albums.each_with_index do |album, index|

        .col-xs-4
          = render 'albums/album', :album => album
    - else
      .alert.alert-info
        There is no album found.
        = link_to 'Click', new_album_path
        to create your first album.

