.jumbotron
  %h1
    Share your moment
  %p
    This example is a quick exercise to
    illustrate how the default, static and fixed
    to top navbar work. It includes the responsive CSS and
    HTML, so it also adapts to your viewport and device.
  = link_to 'Sign up for free', sign_up_path, :class => 'btn btn-primary btn-lg'